/* @media screen and(max-width:800px) {
    body {
       width:100%;
    } 
} */

body{
    margin: 0%;
}

hr{
    margin: 0;
}


/* NAVBAR */
.navhea{
    position:fixed;
    width:100%;
    height:60px;
    z-index:2;
    background-color: #fff;
    padding: 5px;
    padding-bottom: 0;

}

.navheast{
    position:relative;
    width:100%;
    height:80px;
    background-color: #fff;
}
.navsec{
    position: relative;
    width:100%;
    height:100%;
}
.navmainlogo{
    position: absolute;
    width:100%;
    height:100%;
    left:100px;
}

.navmainlogost{
    display: flex;
    width:100%;
    height:100%;
    justify-content: center;
}

.logo{
    cursor: pointer;
    width:80px;
    height:80%;
}

.navothercomp{
    position: absolute;
    display: flex;
    width:30%;
    height:100%;
    justify-content: end;
    right:100px;
}

.navprofile{
    position:relative;
    right:0%;
    width:80px;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navprofileimg{
    width:80%;
    height:80%;
    border-radius: 50px;
}

.navloginbutton{
    display:flex;
    width: 100px;
    justify-items: center;
    align-items: center;
    text-decoration: none;
}

.navloginbuttonsec{
    display:flex;
    font-size: 19px;
    color: #000000;
    justify-items: center;
    align-items: center;
}

.navloginbuttonsec:hover{
    padding:4px;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
}

.navshopping{
    display: flex;
    width:60px;
    color: #000;
    justify-items: center;
    align-items: center;
}
@keyframes ligh{
    0%{
        color: #000;
    }
    25%{
        color: #000;
    }
    50%{
        color: #5e5c5c;
    }
    75%{
        color: #5e5c5c;
    }
}

.navshopping:hover{
    animation: ligh 1s infinite ;
}
.navtogglemenu{
    position: relative;
    cursor: pointer;
    display: flex;
    width:60px;
    color: #000;
    justify-items: center;
    align-items: center;
}

.navtogglemenu:hover{
    animation: ligh 1s infinite ;
}

.navtogglemenudiv{
    position:absolute;
    top:20px;
    padding: 4px;
    width:130px;
    border-radius:10px;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%,0%,0.25);
    left: 0; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    background-color: #fff;
}

.navclose{
    position:absolute;
    margin: 10px;
    right: 0;
}

.navtogglemenudivul{
    margin-top: 40px;
    padding:10px;
}

.navtogglemenudivli{
    list-style:none; 
    padding-left: 20px;
    padding-bottom: 10px;
}

.navtogglemenudivlia{
    color: #000;
    text-decoration: none; 

}



.service{
    padding-top: 5rem;
    padding-bottom: 4rem;
}
.slider-wrapper{
    position: relative;
    max-width:70rem;
    margin:0 auto;
}
.slider{
    display: flex;
    aspect-ratio: 20/9;
    overflow-x:hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%,0%,0.25);
    border-radius: 0.5rem;
}
.slider img{
    flex:1 0 100%;
    scroll-snap-align:start;
    object-fit: cover;
    animation: slide 30s infinite;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
    
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left:50%;
    transform:translateX(-50%);
    z-index:1;
}
.slider-nav a{
    width:0.5rem;
    height:0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity:0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity:1;
}
.info{
    position:relative;
    display: flex;
    margin: 0 auto;
    max-width: 70rem;
    aspect-ratio: 20/9;
    border-radius:6px;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%,0%,0.25);
}
.fronimg{
    position:absolute;
    width:50%;
    height:100%;
    right: 0;
}
.fronimg img{
    background-image: url(img/fr2.jpg);
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    border-top-left-radius:40%;
    border-bottom-left-radius:40%;
    width: 100%;
    height:100%;
    background-size:cover;
}
.fronbox{
    position: absolute;
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.frontext{
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    height:50%;
    min-width:50%;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fronbox p{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 8px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.pro{
    position: relative;
    display: flex;
    margin: 0 auto;
    max-width: 70rem;
    aspect-ratio: 20/9;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%,0%,0.25);
}
.cards{
    position:relative;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width :100%;
    gap: 20px;
    width: calc(100% - 20px);
    background-color: #fff;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 18/7;
    border-radius: 6px;
    cursor: pointer;
    padding:1rem;
    gap:12px;
}
/*
.card:hover{
    transform: translate(0,10%);
}
.card h1:hover{
    color: #fff;
}

.card:nth-child(1){
    background-image: url(img/bla.jpg);
    background-size:cover;
}
.card:nth-child(2){
    background-image: url(img/gre.jpg);
    background-size:cover;
}
.card:nth-child(3){
    background-image: url(img/whi.jpg);
    background-size:cover;
}
.card:nth-child(4){
    background-image: url(img/olv.jpg);
    background-size:cover;
} */

.onse{
    border-radius: 8px;
    overflow: hidden;
    background-color: black;
}

.onsa{
    border-top-left-radius:20px;
    border-top-right-radius:200px;
    border-bottom-left-radius:200px ;
    border-bottom-right-radius:20px ;
    height:100%;
    width:50%;
}
.bli{
    width:50%;
    height:100%;
    border-radius:20px;
}

.bilh1{
    width:100%;
    height:20%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:5vw;
    color: black;  
    background-color: #fff;
    margin-top:6%;
    margin-bottom:4%;

}


.bilp{
    font-size:1vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width:90%;
    height: 50%;
    margin:0px;
    padding-left:10%;
}

.bilbut{
    height: 20%;
}


.bilsee{
    cursor: pointer;
    margin-left: 5%;
    margin-bottom:2%;
    padding:2%;
    color: #fff;
    font-weight: bold;
    font-size: 1vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    border: none;

}

.bilcart{
    cursor: pointer;
    margin-left:50%;
    margin-bottom:2%;
    padding:2%;
    color: #000000;
    font-weight: bold;
    font-size: 1vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0.9);

}


.product{
    position: relative;
    font-size:140%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 auto;
    max-width: 70rem;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 3rem;
}
.contacts{
    position: relative;
    display: flex;
    margin: 0 auto;
    max-width: 70rem;
    height: 200px;
    justify-content: center;
    align-items: center;
}
.contaa{
    position: absolute;
    display:grid;
    gap: 10px;
}
.contaa a{
    font-size:130%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    text-decoration: none;
}
.contaa :hover{
    transform: translate(0,-10%);
}

.buy{
    display:flex;
    width: 70rem;
    height:500px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 3%;
    border-radius:6px;
}
.buy1{
    display: grid;
    align-items: center;
    justify-content: center;
    width:35%;
    height: 90%;
}
.buy2{
    width: 57%;
    height: 90%;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%,0%,0.25);
}
.buy3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buy3 img{
    border-radius: 6px;
    width:100%;
    height:70%;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%,0%,0.25);
}
.buy4{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color:  rgb(15, 14, 14);
    width: 100%;
    height: 40%;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%,0%,0.25);
}
.buy4 a{
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 140%;
    color: #fff;
}
.buy4:hover{
    transform: translate(0,-10%);
}
.buy2 h1{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.buy2 p{
    padding: 4%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.loaderspin{
    animation:alternate
}